<!-- <div class="container">
  <p>&#9400; 2016 Winvestment |
    <a href="mailto:support@winvestment.net">support@winvestment.net</a> |
    <span>+90 532 123 4567</span>
  </p>
</div> -->


<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">

          <div class="col-sm-4 col-xs-6 text-center">
            <h4 translate>Kullanıcı</h4>
            <ul class="list-unstyled">
              <li><a class="text-primary" ng-href="/terms-of-use"><small translate>Kullanım Şartları</small></a></li>
              <li><a class="text-primary" ng-href="/privacy"><small translate>Gizlilik Politikası</small></a></li>
              <li><a class="text-primary" ng-href="/faq"><small translate>Sıkça Sorulan Sorular</small></a></li>
            </ul>
          </div>

          <div class="col-sm-4 col-xs-6 text-center">
            <h4>Winvestment</h4>
            <ul class="list-unstyled">
              <li><a class="text-primary" ng-href="/contact"><small translate>İletişim</small></a></li>
              <li><a class="text-primary" ng-href="/submit/{{ locale }}"><small translate>Yeni Talep</small></a></li>
              <li id="aboutUs"><a class="text-primary" ng-href="#" ng-click="goToAboutUs()"><small translate>Hakkımızda</small></a></li>
              <li><a class="text-primary" ng-href="/human-resources"><small translate>İnsan Kaynakları</small></a></li>
            </ul>
          </div>

          <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <div class="text-center mt10">
              <div class="row">
                <div class="col-xs-4 p0">
                  <h1><a class="text-primary" href="http://facebook.com/winvestment.gm"><span class="fa fa-facebook"></span></a></h1>
                </div>
                <div class="col-xs-4 p0">
                  <h1><a class="text-primary" href="http://twitter.com/Winvestment_GM"><span class="fa fa-twitter"></span></a></h1>
                </div>
                <div class="col-xs-4 p0">
                  <h1><a class="text-primary" href="http://instagram.com/winvestmentgm"><span class="fa fa-instagram"></span></a></h1>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 mt25">
        <p class="text-center">&copy; 2016 Winvestment <span translate>Tüm Hakları Saklıdır</span></p>
      </div>
    </div>
  </div>
