body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #fafafa;
  padding-top: 50px;
}

.md-button {
  text-transform: none;
  &[disabled] {
    cursor: not-allowed !important;
  }
}

md-select[disabled]:hover {
  cursor: not-allowed;
}

.md-select-menu-container {
  z-index: 1200;
}

md-option.subitem {
  padding-left: 60px !important;
  height: 30px !important;
  font-size: 12px !important;
  .md-container {
    left: 20px !important;
  }
}

.modal-content {
  background-color: rgb(250,250,250);
  border-radius: 2px;
}

.text-white {
  color: $cw;
}

.text-primary {
  color: $c1;
}

a:hover {
  text-decoration: none;
}

a.text-primary:hover {
  color: darken($c1, 5);
}

.theme-white {
  label, span {
    color: $cw !important;
  }

  .md-select-placeholder span {
    color: rgba(255, 255, 255, 0.75) !important;
  }

  md-select .md-select-value {
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }
}

.ngrs-range-slider {
  border: none;
  background: transparent;
  transition: none;
  box-shadow: none;
  margin-top: -17px;
  margin-bottom: -5px;
  &.ngrs-focus {
    border: none;
    box-shadow: none;
  }

  .ngrs-touching {
    outline: none;
  }
  .ngrs-handle {
    background: $c1;
    border: none;
    border-radius: 20px;
    width: 13px;
    height: 13px;
    i {
      background-image: none;
    }
  }

  .ngrs-join {
    background-color: $c1;
    background-image: none;
    height: 2px;
    margin: -3px 0 0;
  }
}

.slider-stick {
  position: relative;
  top: -5px;
  left: 0px;
  border-top: 2px solid rgba(0, 0, 0, .3);
  margin: 0 13px 0 10px;
}

.slider-label {
  font-size: 10px;
  position: relative;
  top: -15px;
  left: 10px;
  margin-bottom: 0px;
}

.pagination {
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $c1;
  border-color: $c1;
}

.pagination > li > a, {
  border: none;
}
