.md-button.md-raised.md-fb-button {
  color: $cw;
  background-color: #3b5998;
}

.md-button.md-raised.md-fb-button:not([disabled]):hover {
  background-color: darken(#3b5998, 10);
}


.md-button.md-raised.md-google-button {
  color: $cw;
  background-color: #dd4b39;
}

.md-button.md-raised.md-google-button:not([disabled]):hover {
  background-color: darken(#dd4b39, 10);
}
