<navbar></navbar>
<div layout="column" layout-align="center center" class="hero-unit">
  <div layout="row" layout-align="center center" style="width: 100%">
    <div flex class="hero-text mb100">

      <p class="text-center text-white mt50 main-text" translate>Aradığınız Gayrimenkulü Biz Bulalım</p>
      <p class="text-center text-white mb50 sub-text" translate>Huzurunuz ve Yatırımlarınız Bizim İçin Değerlidir</p>
      <div class="theme-white col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div layout="column" layout-align="center center">
          <div flex style="width: 100%">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-xs-6 pr5 pl5">
                    <md-input-container class="md-block">
                      <label translate>Şehir</label>
                      <md-select ng-model="data.city">
                        <md-option ng-value="c" ng-repeat="c in specs.cities">{{ c }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div class="col-xs-6 pr5 pl5">
                    <md-input-container class="md-block">
                      <label translate>Semt</label>
                      <md-select ng-disabled="!allDistricts || !allDistricts.length" ng-model="data.districts" multiple>
                        <md-option ng-value="p" ng-repeat="p in allDistricts">{{ p }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
              </div>

              <div class="col-sm-5">
                <div class="row">
                  <div class="col-xs-6 pr5 pl5">
                    <md-input-container class="md-block">
                      <label translate>Mahalle</label>
                      <md-select ng-disabled="!allNeighborhoods || !allNeighborhoods.length" ng-model="data.neighborhoods" multiple>
                        <span ng-repeat="item in allNeighborhoods">
                          <md-option ng-value="'::' + item.district">
                            <span class="text-insignificant">{{ item.district }}</span>
                          </md-option>
                          <md-option class="subitem" ng-value="n" ng-repeat="n in item.neighborhoods">{{ n }}</md-option>
                        </span>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div class="col-xs-6 pr5 pl5">
                    <md-input-container class="md-block">
                      <label>{{ specs.realty_types.label }}</label>
                      <md-select ng-model="data.realty_types" multiple>
                        <md-option ng-value="a.key" ng-repeat="a in specs.realty_types.vals">{{ a.label }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
              </div>

              <div class="col-sm-1 text-right">
                <a href="/submit/{{ locale }}">
                  <md-button class="md-raised md-primary mt20">
                    <span translate>Devam</span>
                  </md-button>
                </a>
              </div>
            </div>
          </div>
          <div ng-if="false" flex style="width: 100%">
            <div layout="row" layout-align="center center">

              <div ng-if="false" flex="45">
                <label class="slider-label" translate>Fiyat aralığı</label>
                <hr class="slider-stick">
                <div range-slider class="ng-range-slider" min="0" max="3000000" model-min="data.price.min" model-max="data.price.max" step="50000"></div>
                <span class="ml10">{{ addDots(data.price.min) }}
                  &#8378;</span>
                <span class="pull-right mr10">{{ addDots(data.price.max) }}
                  &#8378;</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="how-we-work pt50 pb50" ng-if="false">
  <div class="container">
    <h1 class="text-center" flex id="how-we-work-title" scroll-spy-event="elementFirstScrolledIntoView" scroll-spy translate>Winvestment Nasıl Çalışır?</h1>
    <br>
    <div ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-center-tabs="true" md-selected="selectedHowItWorks">
          <md-tab label="1. TALEP AÇMA" ng-click="tabState = !tabState">
            <md-content class="md-padding" layout="row" layout-align="center">
              <div flex-xs="90" flex-sm="80" flex-md="70" flex-gt-md="50" class="md-padding md-margin">
                <img class="img-responsive" style="margin: auto; width: 128px;" ng-src="/assets/images/checklist.png">
                <br>
                <h3 class="text-center">
                  <strong>1. Talep Açma</strong>
                </h3>
                <p>Sadece birkaç dakika içerisinde talep formunu doldurunuz. Bundan sonrası bizim işimiz.</p>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="2. ARAŞTIRMA" ng-click="tabState = !tabState">
            <md-content class="md-padding" layout="row" layout-align="center">
              <div flex-xs="90" flex-sm="80" flex-md="70" flex-gt-md="50" class="md-padding md-margin">
                <img class="img-responsive" style="margin: auto; width: 128px;" ng-src="/assets/images/employee.png">
                <br>
                <h3 class="text-center">
                  <strong>2. Araştırma</strong>
                </h3>
                <p>Talebiniz bize ulaştıktan sonra bölgesinde uzman analistlerimiz sizin taleplerinizi karşıayacak ve finansal açıdan en karlı olacak opsiyonları çıkaracaktır.</p>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="3. TOPLANTI" ng-click="tabState = !tabState">
            <md-content class="md-padding" layout="row" layout-align="center">
              <div flex-xs="90" flex-sm="80" flex-md="70" flex-gt-md="50" class="md-padding md-margin">
                <img class="img-responsive" style="margin: auto; width: 128px;" ng-src="/assets/images/coffee.png">
                <br>
                <h3 class="text-center">
                  <strong>3. Toplantı</strong>
                </h3>
                <p>Bu noktada sizin için hazırladığımız ana raporu mail atıp, detaylı raporun sunumu ve olası yer ziyaretlerini ayarlamak için toplantı talep edeceğiz.</p>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="4. FİNANSMAN" ng-click="tabState = !tabState">
            <md-content class="md-padding" layout="row" layout-align="center">
              <div flex-xs="90" flex-sm="80" flex-md="70" flex-gt-md="50" class="md-padding md-margin">
                <img class="img-responsive" style="margin: auto; width: 128px;" ng-src="/assets/images/presentation.png">
                <br>
                <h3 class="text-center">
                  <strong>4. Finansman</strong>
                </h3>
                <p>Size sunduğumuz opsiyonlar içerisinden tercih ettiğiniz olduğu takdirde finansman kredisi yolunda en düşük maliyetli çözümleri size raporlayacağız.</p>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="5. SATIN ALMA" ng-click="tabState = !tabState">
            <md-content class="md-padding" layout="row" layout-align="center">
              <div flex-xs="90" flex-sm="80" flex-md="70" flex-gt-md="50" class="md-padding md-margin">
                <img class="img-responsive" style="margin: auto; width: 128px;" ng-src="/assets/images/deal.png">
                <br>
                <h3 class="text-center">
                  <strong>5. Satın Alma</strong>
                </h3>
                <p>Tapu devir teslim işlemlerinin gerçekleştirilmesi süresince yanınızda olup size gereken tüm desteği vereceğiz.</p>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</section>

<div class="how-area pt50 pb50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb50">
        <h2 class="text-center mb100 mt50" translate>Winvestment Nasıl Çalışır?</h2>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="tree">
          <div class="branch branch-r"></div>
          <div class="branch branch-l"></div>
          <div class="branch branch-r"></div>
          <div class="branch branch-l"></div>
          <div class="branch branch-r"></div>
        </div>
        <div class="row" style="margin-top: -100px;">
          <div class="col-sm-6 col-sm-offset-6">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-2 tree-explanation">
                <div class="row">
                  <div class="col-sm-8 text-center toplanti">
                    <img class="img-responsive" style="margin: auto; width: 90px;" ng-src="/assets/images/checklist.png" alt="">
                    <h4 class="text-center">
                      <strong translate>1. Talep Açma</strong>
                    </h4>
                  </div>
                  <p class="col-sm-12" translate>Sadece birkaç dakika içerisinde talep formunu doldurunuz. Bundan sonrası bizim işimiz.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9 text-right tree-explanation">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-4 text-center toplanti">
                    <img class="img-responsive" style="margin: auto; width: 90px;" ng-src="/assets/images/employee.png" alt="">
                    <h4 class="text-center">
                      <strong translate>2. Araştırma</strong>
                    </h4>
                  </div>
                  <p class="col-sm-12" translate>Talebiniz bize ulaştıktan sonra bölgesinde uzman analistlerimiz sizin taleplerinizi karşıayacak ve finansal açıdan en karlı olacak opsiyonları çıkaracaktır.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-6" style="margin-top: -20px;">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-2 tree-explanation">
                <div class="row">
                  <div class="col-sm-8 text-center toplanti">
                    <img class="img-responsive" style="margin: auto; width: 90px;" ng-src="/assets/images/coffee.png" alt="">
                    <h4 class="text-center">
                      <strong translate>3. Toplantı</strong>
                    </h4>
                  </div>
                  <p class="col-sm-12" translate>Bu noktada sizin için hazırladığımız ana raporu mail atıp, detaylı raporun sunumu ve olası yer ziyaretlerini ayarlamak için toplantı talep edeceğiz.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="margin-top: -10px;">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9 text-right tree-explanation">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-4 text-center toplanti">
                    <img class="img-responsive" style="margin: auto; width: 90px;" ng-src="/assets/images/presentation.png" alt="">
                    <h4 class="text-center">
                      <strong translate>4. Finansman</strong>
                    </h4>
                  </div>
                  <p class="col-sm-12" translate>Size sunduğumuz opsiyonlar içerisinden tercih ettiğiniz olduğu takdirde finansman kredisi yolunda en düşük maliyetli çözümleri size raporlayacağız.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-6" style="margin-top: -10px;">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-2 tree-explanation">
                <div class="row">
                  <div class="col-sm-8 text-center toplanti">
                    <img class="img-responsive" style="margin: auto; width: 90px;" ng-src="/assets/images/deal.png" alt="">
                    <h4 class="text-center">
                      <strong translate>5. Satın Alma</strong>
                    </h4>
                  </div>
                  <p class="col-sm-12" translate>Tapu devir teslim işlemlerinin gerçekleştirilmesi süresince yanınızda olup size gereken tüm desteği vereceğiz.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="why-winvestment pt50 pb50" id="aboutUsSection" style="background-color: #FFFFFF">
  <div class="container">
    <h1 class="text-center" translate>Neden Winvestment?</h1>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

        <div class="row">
          <div class="col-sm-3 visible-sm visible-xs mt50">
            <img class="img-responsive" style="width: 150px; margin: auto;" ng-src="/assets/images/reidin_logo.png">
          </div>
        </div>
        <div class="row super-aligner">
          <div class="col-sm-9">
            <div class="why p20 mt20 mb20">
              <h3 class="mt0">
                <strong translate>Şeffaflık ve Doğru Veri</strong>
              </h3>
              <p translate>Winvestment olarak sadece alıcılara hizmet vererek gayrimenkul sektörüne yeni bir soluk getirdiğimize inanıyoruz. Doğru fiyatlı gayrimenkulü bulabilmenin öneminin ve doğru veriye ulaşmanın zorluğunun farkındayız. Bu sebeple, REIDIN raporları dahil sahaya dair bir çok veriyi titizlikle analiz etmekteyiz.</p>
            </div>
          </div>
          <div class="col-sm-3 hidden-sm hidden-xs">
            <img class="img-responsive" style="width: 150px; margin: auto;" ng-src="/assets/images/reidin_logo.png">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 visible-sm visible-xs mt50">
            <img class="img-responsive" style="width: 128px; margin: auto;" ng-src="/assets/images/brainstorm.png">
          </div>
        </div>
        <div class="row super-aligner">
          <div class="col-sm-9">
            <div class="why p20 mt20 mb20">
              <h3 class="mt0">
                <strong translate>Düşük Maliyetli Kaliteli Hizmet</strong>
              </h3>
              <p translate>Sadece sektörel değil iş yapış şeklimizle de her zaman inovasyondan yanayız. Bu perspektifle hareket ettiğimizden, operasyon maliyetlerimizi kısabildik ve geleneksel sürece göre sizlere düşük maliyetli ve beklentilerinizin ötesinde bir hizmet vermeyi başarabildik.</p>
            </div>
          </div>
          <div class="col-sm-3 hidden-sm hidden-xs">
            <img class="img-responsive" style="width: 128px; margin: auto;" ng-src="/assets/images/brainstorm.png">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 visible-sm visible-xs mt50">
            <img class="img-responsive" style="width: 128px; margin: auto;" ng-src="/assets/images/house.png">
          </div>
        </div>
        <div class="row super-aligner">
          <div class="col-sm-9">
            <div class="why p20 mt20 mb20">
              <h3 class="mt0">
                <strong translate>Duygularınıza Özel, Yatırım Odaklı</strong>
              </h3>
              <p translate>Oturmak için olsun ya da yatırım amaçlı olsun gayrimenkul seçmek zor bir iştir. İstekleri ve yatırımı aynı potada eritmek çok daha zor bir iştir. Bu noktada size sunacağımız optimal çözümler sayesinde hem duygularınıza hitap edecek en güzel evde oturabileceksiniz hem de yatırımınızı en karlı şekilde yönetme şansını yakalayacaksınız.</p>
            </div>
          </div>
          <div class="col-sm-3 hidden-sm hidden-xs">
            <img class="img-responsive" style="width: 128px; margin: auto;" ng-src="/assets/images/house.png">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 visible-sm visible-xs mt50">
            <img class="img-responsive" style="margin: auto;" ng-src="/assets/images/zopim.png">
          </div>
        </div>
        <div class="row super-aligner">
          <div class="col-sm-9">
            <div class="why p20 mt20 mb20">
              <h3 class="mt0">
                <strong translate>Çok Hızlı ve Rahat</strong>
              </h3>
              <p translate>Listeler arasında boğulurken veya tek tek emlak ofislerini dolaşırken zihninizin ve bedeninizin ne kadar yorulduğunu en iyi biz biliriz. Winvestment olarak bu yükünüzü biz alıyoruz. Size sadece talep formunu doldurmak kalıyor. Üstelik istediğiniz zaman bizimle iletişime geçmek için <strong>Zopim™</strong> canlı yardımı kullanabilir ya da <a href="mailto:support@winvestment.net">support@winvestment.net</a> adresine mail atabilirsiniz. En hızlı şekilde size geri dönüş yapılacaktır.</p>
            </div>
          </div>
          <div class="col-sm-3 hidden-sm hidden-xs">
            <img class="img-responsive" style="margin: auto;" ng-src="/assets/images/zopim.png">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section ng-if="false" class="numbers pt50 pb50">
  <div class="container">
    <h1 class="text-center" flex translate>Sayılarla Winvestment</h1>

    <div layout="row" layout-xs="column" layout-align="space-around center">
      <div flex class="text-center">
        <h2 count-up id="numberAnimation" duration="1" end-val="stats[0].val" scroll-spy-event="elementScrolledIntoView" scroll-spy></h2>
        <h4>Lorem Ipsum</h4>
      </div>

      <div flex class="text-center">
        <h2 count-up id="numberAnimation" duration="1" end-val="stats[1].val" scroll-spy-event="elementScrolledIntoView" scroll-spy></h2>
        <h4>Lorem Ipsum</h4>
      </div>

      <div flex class="text-center">
        <h2 count-up id="numberAnimation" duration="1" end-val="stats[2].val" scroll-spy-event="elementScrolledIntoView" scroll-spy></h2>
        <h4>Lorem Ipsum</h4>
      </div>

    </div>
  </div>
</section>

<section class="contact-form pt30 pb30" style="background-color: #FCFCFC">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 class="text-center mb30" translate>Bize dilediğiniz zaman ulaşabilirsiniz!</h1>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-7">
            <form class="form" name="form" ng-submit="submit(form)" novalidate>
              <div class="col-xs-12">
                <md-input-container class="md-block">
                  <label translate>Adınız, Soyadınız</label>
                  <input required type="text" name="name" ng-model="contact.name"/>

                  <div ng-messages="form.name.$error" role="alert">
                    <div ng-message="required" ng-class="{ 'hidden': !form.name.$error.required }" translate>Lütfen adınızı ve soyadınızı yazınız.</div>
                  </div>
                </md-input-container>
              </div>
              <div class="col-xs-12">
                <md-input-container class="md-block">
                  <label translate>Email adresiniz</label>
                  <input required type="email" name="email" ng-model="contact.email" ng-pattern="/^.+@.+\..+$/"/>

                  <div ng-messages="form.email.$error" role="alert">
                    <div ng-message="pattern" ng-class="{ 'hidden': !form.email.$error.pattern }" translate>Lütfen geçerli bir email adresi giriniz.</div>
                    <div ng-message="required" ng-class="{ 'hidden': !form.email.$error.required }" translate>Lütfen email adresinizi giriniz.</div>
                  </div>
                </md-input-container>
              </div>
              <div class="col-xs-12">
                <md-input-container class="md-block">
                  <label translate>Telefon numaranız</label>
                  <input type="text" name="phone" ng-model="contact.phone"/>
                </md-input-container>
              </div>
              <div class="col-xs-12">
                <md-input-container class="md-block">
                  <label translate>İletmek istediğiniz mesaj</label>
                  <textarea ng-model="contact.message" md-maxlength="700" rows="4" name="message" md-select-on-focus required></textarea>

                  <div ng-messages="form.name.$error" role="alert">
                    <div ng-message="required" ng-class="{ 'hidden': !form.message.$error.required }" translate>Lütfen iletmek istediğiniz mesajı yazınız.</div>
                  </div>
                </md-input-container>
              </div>
              <div class="col-xs-12 mb50">
                <md-button class="md-raised md-primary pull-right" type="submit">
                  <span translate>Gönder</span>
                </md-button>
              </div>
            </form>
          </div>
          <div class="col-sm-5">
            <div class="hidden-xs mb150"></div>
            <span class="fa fa-map-marker h5 text-center" style="width:20px"></span>
            <strong>19 Mayıs Mah. 19 Mayıs Cad. Golden Plaza 34360</strong>
            <br>
            <span class="fa" style="width:20px"></span>
            <strong>Şişli/İstanbul</strong>
            <br>
            <h5>
              <span style="width:20px;" class="fa fa-envelope text-center"></span>
              <strong>
                <a href="mailto:support@winvestment.net" class="text-primary">support@winvestment.net</a>
              </strong>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer></footer>
